:root {
    --green-main: #6c9a4c;
    --blue-main: #5b69a6;
    --red-main: #ad5a4a;
    --green-hovered: #608446;
}

body {
    margin: 0;
    height: 100vh;
    color: white;
    font-size: 20px;

}

.center {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: palegreen;
}

.con {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;

}

.game-con {
    width: 600px;
    height: 80%;
    background-color: plum;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 60px auto;
    gap: 10px;


    position: relative;

}

.top-half {
    background-color: gray;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.bottom-half {
    background-color: gray;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    max-height: 60px;
}

.bottom-half {
    background-color: rgb(50, 50, 50);
}

.player-con {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 0.2fr 0.2fr;
}

.player-name-con {
    font-size: 22px;
}

.guess-con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* .single-num {
    border: solid black 2px;
    border-radius: 5px;
} */








.bottom-action-cons {
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: green;
    display: grid;
    gap: 5px;
    grid-template-columns: 75% 1fr;
}

.answer-input {
    border-radius: 8px;
    font-size: 20px;
    caret-color: black;
    padding: 10px;
    border: 2px solid #ccc;
    outline: none;
}

.answer-input:focus {
    border-color: black;
}

.answer-input {
    -moz-appearance: textfield;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    /* Standard */
}

.answer-input::-webkit-outer-spin-button,
.answer-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* Removes the spinner in webkit browsers */
    margin: 0;
}


.bottom-btn {
    font-size: 18px;
    height: 100%;
    border-radius: 8px;
    color: white;
    background-color: var(--green-main);
    border: none;

}

.bottom-btn:hover {
    background-color: var(--green-hovered);
    cursor: pointer;
}

.btn-waiting {
    background-color: var(--blue-main);
}

.btn-waiting:hover {
    background-color: var(--blue-main);
}

.btn-started {
    background-color: var(--red-main);
}

.btn-started:hover {
    background-color: var(--red-main);
}

.btn-disabled:hover {
    cursor: not-allowed;
    background-color: gray;
}

.btn-disabled {
    cursor: not-allowed;
    background-color: gray;
}