:root {
    --green-main: #6c9a4c;
    --blue-main: #5b69a6;
    --red-main: #ad5a4a;
    --red-number: #000000;
    --green-hovered: #608446;
    --balck-border: #3b3b3b;
}

body {
    margin: 0;
    height: 100vh;
    color: white;
    font-size: 20px;
    overflow: hidden;
}



.center {
    display: grid;
    align-items: center;
    justify-content: center;
}

.con {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto auto;

}

.game-con {
    width: 600px;
    height: 600px;
    background-color: white;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 60px auto;
    gap: 10px;


    position: relative;
}

.side-bar {
    width: 250px;
    height: 600px;
    border: solid 2px var(--balck-border);
}

.player-time-con {
    margin: 10px;
    width: 28px;
    height: 600px;
    background-color: purple;
    position: relative;
    border-radius: 2px;
}

.player-time {
    bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--green-main);
}

.answer-text {
    height: 55px;
    color: var(--balck-border);
    margin-bottom: 10px;
    border-bottom: var(--balck-border) 2px solid;
}

.answer {
    font-size: 22px;
    letter-spacing: 20px;
    height: 60px;
    color: var(--balck-border);
}

.top-half {
    color: var(--balck-border);
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    border: 2px solid var(--balck-border);
    border-radius: 5px;
}


.bottom-half {
    width: 100%;
    overflow-y: scroll;
    height: calc(100% - 80px);

    /* Hide scrollbar */
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.bottom-half::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}


.singleGuess {
    margin-bottom: 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    background-color: rgb(158, 158, 158);
}

.player-con {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 0.2fr 0.2fr;
    gap: 5px;

}


.player-name-con {
    position: relative;
    font-size: 22px;

}


.hidden {
    color: #b5b5b5;
}

.guess-con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.n-o {
    color: var(--red-number);
}

/* .single-num {
    border: solid black 2px;
    border-radius: 5px;
} */








.bottom-action-cons {
    width: 100%;
    bottom: 0;
    position: absolute;
    /* background-color: green; */
    display: grid;
    gap: 5px;
    grid-template-columns: 75% 1fr;
}

.answer-input {
    border-radius: 8px;
    font-size: 20px;
    caret-color: black;
    padding: 10px;
    border: 2px solid #ccc;
    outline: none;
}

.answer-input:focus {
    border-color: black;
}

.answer-input {
    -moz-appearance: textfield;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    /* Standard */
}

.answer-input::-webkit-outer-spin-button,
.answer-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* Removes the spinner in webkit browsers */
    margin: 0;
}


.bottom-btn {
    font-size: 18px;
    height: 100%;
    border-radius: 8px;
    color: white;
    background-color: var(--green-main);
    border: none;

}

.bottom-btn:hover {
    background-color: var(--green-hovered);
    cursor: pointer;
}

.btn-waiting {
    background-color: var(--blue-main);
}

.btn-waiting:hover {
    background-color: var(--blue-main);
}

.btn-started {
    background-color: var(--red-main);
}

.btn-started:hover {
    background-color: var(--red-main);
}

.btn-disabled:hover {
    cursor: not-allowed;
    background-color: gray;
}

.btn-disabled {
    cursor: not-allowed;
    background-color: gray;
}